<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsthatjun.ecommerce.mbg.mapper.PromotionSaleLogMapper">
  <resultMap id="BaseResultMap" type="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="promotion_sale_id" jdbcType="NUMERIC" property="promotionSaleId" />
    <result column="sale_action" jdbcType="VARCHAR" property="saleAction" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="discount_type" jdbcType="INTEGER" property="discountType" />
    <result column="amount" jdbcType="NUMERIC" property="amount" />
    <result column="operate_man" jdbcType="VARCHAR" property="operateMan" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, promotion_sale_id, sale_action, promotion_type, discount_type, amount, operate_man, 
    created_at
  </sql>
  <select id="selectByExample" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion_sale_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_sale_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion_sale_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLogExample">
    delete from promotion_sale_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLog" useGeneratedKeys="true">
    insert into promotion_sale_log (promotion_sale_id, sale_action, promotion_type, 
      discount_type, amount, operate_man, 
      created_at)
    values (#{promotionSaleId,jdbcType=NUMERIC}, #{saleAction,jdbcType=VARCHAR}, #{promotionType,jdbcType=INTEGER}, 
      #{discountType,jdbcType=INTEGER}, #{amount,jdbcType=NUMERIC}, #{operateMan,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLog" useGeneratedKeys="true">
    insert into promotion_sale_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promotionSaleId != null">
        promotion_sale_id,
      </if>
      <if test="saleAction != null">
        sale_action,
      </if>
      <if test="promotionType != null">
        promotion_type,
      </if>
      <if test="discountType != null">
        discount_type,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="operateMan != null">
        operate_man,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promotionSaleId != null">
        #{promotionSaleId,jdbcType=NUMERIC},
      </if>
      <if test="saleAction != null">
        #{saleAction,jdbcType=VARCHAR},
      </if>
      <if test="promotionType != null">
        #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="discountType != null">
        #{discountType,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=NUMERIC},
      </if>
      <if test="operateMan != null">
        #{operateMan,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLogExample" resultType="java.lang.Long">
    select count(*) from promotion_sale_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update promotion_sale_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.promotionSaleId != null">
        promotion_sale_id = #{record.promotionSaleId,jdbcType=NUMERIC},
      </if>
      <if test="record.saleAction != null">
        sale_action = #{record.saleAction,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionType != null">
        promotion_type = #{record.promotionType,jdbcType=INTEGER},
      </if>
      <if test="record.discountType != null">
        discount_type = #{record.discountType,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=NUMERIC},
      </if>
      <if test="record.operateMan != null">
        operate_man = #{record.operateMan,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update promotion_sale_log
    set id = #{record.id,jdbcType=INTEGER},
      promotion_sale_id = #{record.promotionSaleId,jdbcType=NUMERIC},
      sale_action = #{record.saleAction,jdbcType=VARCHAR},
      promotion_type = #{record.promotionType,jdbcType=INTEGER},
      discount_type = #{record.discountType,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=NUMERIC},
      operate_man = #{record.operateMan,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLog">
    update promotion_sale_log
    <set>
      <if test="promotionSaleId != null">
        promotion_sale_id = #{promotionSaleId,jdbcType=NUMERIC},
      </if>
      <if test="saleAction != null">
        sale_action = #{saleAction,jdbcType=VARCHAR},
      </if>
      <if test="promotionType != null">
        promotion_type = #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="discountType != null">
        discount_type = #{discountType,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=NUMERIC},
      </if>
      <if test="operateMan != null">
        operate_man = #{operateMan,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itsthatjun.ecommerce.mbg.model.PromotionSaleLog">
    update promotion_sale_log
    set promotion_sale_id = #{promotionSaleId,jdbcType=NUMERIC},
      sale_action = #{saleAction,jdbcType=VARCHAR},
      promotion_type = #{promotionType,jdbcType=INTEGER},
      discount_type = #{discountType,jdbcType=INTEGER},
      amount = #{amount,jdbcType=NUMERIC},
      operate_man = #{operateMan,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>