# Enabling H2 Console, http://localhost:8080/h2-console
spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:~/testdb
    username: sa
    password:
    driverClassName: org.h2.Driver
