<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.ecommerce.demo.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="com.example.spring.ecommerce.demo.model.Brand">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="TEXT" property="name" />
        <result column="category" jdbcType="TEXT" property="category" />
    </resultMap>
    <insert id="insert" parameterType="com.macro.mall.tiny.mbg.model.PmsBrand">
        insert into brand (name, category)
        values (#{name,jdbcType=TEXT}, #{category,jdbcType=TEXT})
    </insert>
</mapper>